.menu_icon {
  display: none;
}

@media screen and (max-width: 1000px){
  :root {
    --tamanioFont: calc(2px + 7vw);
  }
  body {
    font-size: 16px;
    /* width: 100%; */
    /* height: auto; */
  }
  .menu_icon {
    /* display: none; */
    display: block;
    width: 100vw;
    background: #772648;
    position: fixed;
    z-index: 3;
  }
  .menu_icon .bt_menu{
    display: block;
    font-size: 7em;
    /* padding: 20px; */
    /* margin-left: 20px; */
  }
  .icon_list {
    float: right;
    width: 150px;
    margin-top: 0px;
    margin-right: 20px;
  }
  #cabeceralogo {
    display: inline-block;
    justify-content: center;
    width: 100vw;
    background-repeat: repeat-y;
    height: auto;
    background-size: auto;
  }
  #menu-cabecera {
    /* display: inline-block; */
    display: flex;
    width: 100%;
    /* height: auto; */
    height: 100vh;
    padding: 0%;
    justify-content: space-between;
    background-color: #8e8d93;
    border-radius: 0px;
    text-align: center;
    left: -110%;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
  }
  #menu-cabecera li {
    background-color: #772648;
  }
  .menu-block a {
    margin: 0%;
    padding: 0%;
    /* width: 80%; */
    font-size: 5em;
    /* background-color: red; */
  }
  .menu-block {
    /* padding-bottom: 30px; */
    margin-bottom: 30px;
  }
  .menuprincipal {
    /* width:96%; */
    padding: 0% 0%;
  }
  .menuprincipal ul {
    display: block;
    margin: 0%;
    padding: 0%;
  }
  .menu-item {
    /* width: 100%; */
    width: 90vw;
    height: auto;
    /* border-bottom: white 5px solid; */
  }
  .menu-item:hover {
    background-color: #7d3050;
  }
  #header-inicio-des {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 10%;
    margin-left: 0%;
    border-radius: 0%;
  }
  #image-text {
    display: block;
    width: 100%;
  }
  #image-text img {
    width: 90%;
    margin: 0% 4%;
    margin-top: 90px;
    margin-bottom: 50px;
    /* font-size: 1em; */
  }
  #text-header {
    display: block;
    margin: 0%;
    padding: 4%;
    width: auto;
    /* font-size: 3em; */
    font-size: 4em;
    background-color: #19374c;
  }
  #text-header p {
    font-size: .5em;
    text-align: center;
  }
  #formacion {
    display: inline-block;
    width: auto;
    height: auto;
    background-size: auto;
  }
  #formacion ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
    height: auto;
    padding-top: 15%;
    margin-top: 10vh;
    margin: 0% 10%;
  }
  .tabs-grid {
    width: 96%;
    margin-left: 2%;
    padding: 5% 0%;
    /* padding: 0 10px; */
    margin-right: 10%;
    margin-bottom: 80px;
  }
  .u-p {
    padding-bottom: 40px;

  }
  .tabs-link {
    padding: 0%;
    text-align: center;
    font-size: 1.8em;
    /* width: 80%; */
  }
  .tabs-link > label {
    width: 97%;
    
  }
  .tabs-content {
    border-left: none;
    border: 2px solid white;
    padding: 0 10px;
    margin: 0;
    padding-top: 5vh;
    margin-top: 5vh;
    /* font-size: 4em; */

    font-size: 1.8em;
    text-align: center;
  }
  .u-h2 {
    /* background-color: red; */
    margin-bottom: 60px;
  }
  .content-button {
    justify-content: center;
    padding-left: 0%;
    font-size: 1.5em;
  }
  .u-button {
    width: 100%;
  }
  #trabajos {
    display: inline-block;
    height: auto;
  }
  .contenedor-trabajos {
    display: inline-block;
    height: auto;
    margin-top: 10vh;
  }
  .trabajo {
    /* font-size: 3em; */
    font-size: var(--tamanioFont);
  }
  #trabajo-uno {
    display: block;
    height: auto;
    width: 90%;
    margin: 0% 5%;
    margin-bottom: 5vh;
    padding: 5% 0%;
  }
  #trabajo-dos {
    display: block;
    height: auto;
    width: 90%;
    margin: 0% 5%;
    margin-bottom: 5vh;
    padding: 5% 0%;
  }
  #trabajo-tres {
    display: block;
    height: auto;
    width: 90%;
    margin: 0% 5%;
    margin-bottom: 10vh;
    padding: 5% 0%;
  }
  #contacto {
    display: inline-block;
    width: 100%;
    height: auto;
  }
  .seccionpie {
    display: block;
    width: 100%;
  }
  .content-text {
    margin: 0;
    text-align: center;
  }
  .content-text > h2 {
    font-size: 1.6em;
    padding: 0;
    margin: 0;
  }
  .content-text > p {
    margin: 0%;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 2em;
  }
  .content-icons {
    width: 100%;
    justify-content: center;
    /* background-color: transparent; */
  }
  .content-icons img {
    width: 100%;
  }
  .content-icons a {
    width: 20%;
    box-shadow: none;
    /* border: 1px solid red; */
  }
  .menu-fixed {
    position: static;
    top: 0;
    background-color: none;
  }
  .seccionpie {
    /* margin: 80px 0; */
    padding: 40px 0;
  }
  #formacion ul {
    list-style: none;
    /* margin-top: 30vh; */
    width: auto;
  }
}
