:root {
    --color-principal: rgb(73, 186, 214);
}

.front-in-front img {
background-color: #838a8c;
}

.front-in-front>div>h2 {
    margin: 0;
}

.front-in-front>div>a {
    background-color: #838a8c;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.2em;
}

.front-in-front>div>a:hover {
    background-color: #636363;
}

#back-part {
    height: 3300px;
}

@media (max-width: 550px) {
    .front-in-front img {
        display: flex;
        /* width: 30vw; */
        width: 96%;
        margin: 5px 2%;
    }
    .front-in-front>div>a {
        margin: 12px 0;
    }
    .front-in-front>div>h2 {
        margin: 10px 0;
        
    }
    #back-part {
        height: 3500px;
    }
}