:root {
    --color-principal: rgb(42, 69, 218);
}

.front-in-front {
    justify-content: space-around;
    
}

.front-in-front div {
    height: auto;
    align-items: center;
    margin: 20px auto;
}

.front-in-front img {
    background-color: none;
}

.front-in-front>div>h2 {
    margin: 0;
    font-size: 2.5em;
}

.front-in-front>div>a {
    background-color: #838a8c;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.2em;
}

.front-in-front>div>a:hover {
    background-color: #636363;
}

#back-part {
    height: 750px;
}

#redes {
    flex-direction: row;
    width: 80%;
    padding: 0;
    margin: 30px 10px;
}

#redes>a>img {
    filter: none;
    width: 98px;
}

@media (max-width: 550px) {
    .front-in-front img {
        display: flex;
        width: 96%;
        margin: 10px 2%;
    }

    #redes>a>img {
        filter: none;
        width: 70px;
    }

    #back-part {
        height: 550px;
    }
}