body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-family: 'Barlow', sans-serif;
}
:root {
    --color-principal: #8bd850;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}

.front-part {
    display: flex;
    /* left: -10vw; */
    width: 85vw;
    /* height: 100px; */
    background-color: var(--color-principal);
    z-index: 1;
    box-shadow: 5px 5px 25px 10px rgba(0, 0, 0, 0.37);
    margin: 40px 0;
    margin-bottom: 60px;

}

#img-menu {
    display: none;
}

#section-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 5;
}

ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    width: 80px;
    margin: 20px 20px;
    padding: 10px 20px;
    background-color: #062c3893;
    color: white;
    border-radius: 20px;
    user-select: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

li:hover {
    background-color: #062c38ef;
    color: var(--color-principal);;
}

#back-part {
    display: flex;
    position: absolute;
    width: 70vw;
    height: 2200px;
    background-color: #062c38;
    /* background-color: #062c38a2; */
    /* background-color: #122a3125; */

    z-index: 0;
}

.front-in-front {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 400px;
    position: relative;
    background-color: white;
    z-index: 2;
    box-shadow: 5px 5px 25px 10px rgba(0, 0, 0, 0.233);
    left: -50px;
    top: -20px;
    margin-bottom: 50px;
    /* justify-content: center;
    align-items: center; */
}

.front-in-front>img {
    display: flex;
    width: 70%;
    height: 440px;
    position: absolute;
    right: -65%;
    top: -20px;
    box-shadow: 5px 5px 25px 10px rgba(0, 0, 0, 0.349);
}

.front-in-front div {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    width: 95%;
    height: 100%;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    
}

h1 {
    font-size: 2.5em;
    user-select: none;
}

p {
    font-size: 1.5em;
    user-select: none;
}

.front-in-front>div>p {
    /* background-color: red; */
    padding: 0 60px;
}

.front-two {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    width: 90%;
    left: 5%;
    top: -30px;
}

.front-two>div {
    position: static;
    height: 100%;
}

#content-section-two {
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    width: 100%;
    /* height: 400px; */
    /* background-color: rebeccapurple; */
    /* margin: 0; */
    text-align: center;
}

#content-section-two>h2 {
    display: flex;
    /* background-color: yellow; */
    margin: 0;
    padding: 0;
    height: 15%;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

#content-section-two>div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35%;
    margin: 5px 0;
    justify-content: space-evenly;
}

#content-section-two>div>button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* height: 40%; */
}

.tecnology-individual {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    /* background-color: green; */
    align-items: center;
    justify-content: center;
}

.tecnology-individual>p {
    margin: 0;
    margin-top: 15px;
}

.tecnology-individual>img {
    /* width: 100%; */
    height: 60%;
}

.front-three {
    left: 45%;
    /* background-color: red; */
}

.front-three>h2 {
    font-size: 1.5em;
}

.front-three>img {
    left: -65%;
    background-color: #333333;
}

.front-three>div {
    margin-left: 5%;
}

.front-three ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.front-three li {
    width: auto;
    margin: 0;
    background-color: transparent;
    color: black;
    cursor: unset;
    font-size: 1.5em;
}

.front-three li::before {
    content: "\27A4";
    margin-right: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #1f4f5f;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
    /* padding: 0 10%; */
    justify-content: center;
}
footer>h3 {
    margin: 0;
    margin-top: 40px;
    user-select: none;
    padding-left: 10%;
}
footer>p {
    margin: 10px 0;
    color: rgb(179, 179, 179);
    padding-left: 10%;
}
#redes {
    display: flex;
    width: 10%;
    padding-left: 10%;
    /* position: absolute; */
}
#redes>a>img {
    width: 60px;
    margin: 0 20px;
    /* filter: grayscale(100%); */
    filter: brightness(50%);
    transition: 1s;
    user-select: none;
}
#redes>a>img:first-child {
    margin-left: 0;
    /* background-color: red; */
}
#redes>a>img:hover {
    filter: brightness(100%);
}
footer>p:last-child {
    margin-bottom: 40px;
}

@media (max-width: 550px) {
    body {
        /* background-color: red; */
        width: 100vw;
    }
    #back-part {
        width: 100vw;
        height: 3900px;
    }
    #section-1 {
        position: fixed;
        width: 15vw;
        height: 15vw;
        top: 2%;
        /* right: calc(15vw - 2%); */
        right: 2%;
        margin: 0;
        align-items: center;
        /* background-color: #062c3893; */
        border-radius: 50%;
        background-color: var(--color-principal);
    }
    
    #img-menu {
        display: flex;
        width: 30px;
        margin: 0;
        padding: 0;
        z-index: 5;
    }
    .header-section-1 {
        display: flex;
        position: fixed;
        width: 100vw;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--color-principal);
        justify-content: center;
        align-items: center ;
        z-index: 4;
        transition: all 3s;
        /* flex-direction: column; */
    }
    .header-section-1 ul {
        flex-direction: column;
        align-items: center;
    }
    .header-section-1 li {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        font-size: 1.5em;
    }
    .header-transparent {
        display: none;
    }

    .front-part {
        display: flex;
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        box-shadow: none;
        margin: 0;
    }
    
    .front-in-front {
        display: flex;
        position: static;
        width: 100vw;
        height: auto;
    }

    .front-in-front img {
        position: static;
        width: 70%;
        margin: 20px 15%;
        height: auto;
        /* border-radius: 50%; */
    }

    .front-in-front h1 {
        font-size: 1.3em;
    }

    .front-in-front div {
        width: 100%;
        height: auto;
        margin: 10px 0;
    }
    .front-in-front>div>p {
        font-size: 1.2em;
        /* width: 90%; */
        padding: 0;
        margin: 0 5%;
    }
    #content-section-two {
        display: block;
        height: auto;
        align-items: center;
        /* margin: ; */
    }
    #content-section-two>div {
        flex-direction: column;
    }
    .tecnologies {
        /* flex-wrap: wrap; */
        display: block;
        margin: 0;
        padding: 0;
        height: auto;
        margin-top: 0;
        padding: 90px 0;
    }
    .tecnology-individual {
        display: block;
        width: 50vw;
        flex-direction: row;
    }
    #content-section-two > h2 {
        font-size: 1.3em;
        margin-bottom: 10px;
        margin: 10px 0;
        height: auto;
    }

    .tecnology-individual p {
        font-size: 1.5em;
    }

    .front-three li {
        /* background-color: red; */
        font-size: 1.2em;
    }

    #redes>a>img {
        margin-right: 8px;
        filter: none;
    }
    footer {
        margin: 0;
    }
}